apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-api
  namespace: devops
spec:
  replicas: 3
  selector:
    matchLabels:
      app: devops-api
  template:
    metadata:
      labels:
        app: devops-api
    spec:
      containers:
      - name: api
        image: iremhalac/devops-roadmap:latest
        ports:
        - containerPort: 8000
        command: ["sh","-c","uvicorn main:app --host 0.0.0.0 --port 8000"]
---
apiVersion: v1
kind: Service
metadata:
  name: devops-service
  namespace: devops
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: devops-api
